<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AcetatosMX - Tienda en línea para los mejores acetatos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/2mkBAz4kVSMEZcWv2q3x2K/icons.css"/>
    <%= stylesheet_link_tag "style" %>
    <!--Slider-->
    <link rel="stylesheet" href="/assets/flexslider.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/assets/jquery.flexslider.js"></script> 
    <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
    $('.flexslider').flexslider();
    });
    </script>
<!--     <link rel="stylesheet" href="css/style.css"/> -->
  </head>
  <body>
  <%= render 'parcials/header' %>

            <div class="fondo">

            <h1 class="disco">Nombre del disco</h1>

                <div class="artistas">
                  <div class="artista__imagen"><img src="/assets/artista.jpg" alt=""/></div>
                  <div class="artista__nombre">
                    <h2><%= @prueba.nombre %></h2>
                  </div>
                  <div class="artista__canciones">
                    <p><%= @prueba.cantidad %> songs</p>
                  </div>
                </div>

    <div class="top">
      <div class="top__cd">
        <div class="top__flex">
          <div class="top__album">
            <div class="top__portada"><img src="/assets/top.jpg" alt=""/></div>
          </div>
          <div class="top__info">
            <h3>Reflection (Deluxe)</h3>
            <p>Fifth Harmony</p>
            <p>Visitas: 35</p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="recom">Recomendaciones</h2>

              <div class="flexslider">
                <ul class="slides">
                  <li class="align">
                    <img class="image" src="/assets/1.jpg" alt="">
                    <section class="flex-caption">
                      <p>Lorem Ipsum 1</p>
                    </section>
                  </li>
                  <li class="align">
                    <img class="image" src="/assets/2.jpg" alt="">
                    <section class="flex-caption">
                      <p>Lorem Ipsum 2</p>
                    </section>
                  </li>                
                  <li class="align">
                    <img class="image" src="/assets/3.jpg" alt="">
                    <section class="flex-caption">
                      <p>Lorem Ipsum 3</p>
                    </section>
                  </li>
                </ul>
              </div>
            </div>








    <%= render 'parcials/footer' %>
<!--     <script src="js/jquery.js"></script> -->
    <script src="/assets/menu.js"></script>
  </body>
</html>